<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="md_ref.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="md_p.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <userSettings>
    <md_ref.Properties.Settings>
      <setting name="SkinName" serializeAs="String">
        <value />
      </setting>
      <setting name="RepPath" serializeAs="String">
        <value>C:\work2\WinFormsControls</value>
      </setting>
      <setting name="ShortcutMember" serializeAs="String">
        <value>Ctrl+Alt+M</value>
      </setting>
      <setting name="ShortcutClass" serializeAs="String">
        <value>Ctrl+Alt+C</value>
      </setting>
      <setting name="ShortcutNamespace" serializeAs="String">
        <value>Ctrl+Alt+N</value>
      </setting>
      <setting name="ShortcutDoc" serializeAs="String">
        <value>Ctrl+Alt+D</value>
      </setting>
      <setting name="DefaultFont" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value />
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoMinimize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </md_ref.Properties.Settings>
    <md_p.Properties.Settings>
      <setting name="SkinName" serializeAs="String">
        <value />
      </setting>
      <setting name="RepPath" serializeAs="String">
        <value>C:\work2\WinFormsControls</value>
      </setting>
      <setting name="ShortcutMember" serializeAs="String">
        <value>Ctrl+Alt+M</value>
      </setting>
      <setting name="ShortcutClass" serializeAs="String">
        <value>Ctrl+Alt+C</value>
      </setting>
      <setting name="ShortcutNamespace" serializeAs="String">
        <value>Ctrl+Alt+N</value>
      </setting>
      <setting name="ShortcutDoc" serializeAs="String">
        <value>Ctrl+Alt+D</value>
      </setting>
      <setting name="DefaultFont" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value />
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value />
      </setting>
    </md_p.Properties.Settings>
  </userSettings>
</configuration>